body {
    background-color: oldlace;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  height: 0px;
}

h1 {
  color: #A97155
}
h3{
  color: #A97155
}
