/*********************** TAG SELECTORS ***********************/
body {
    background-color: oldlace;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  /*
  height: 0px;
  */
}

h1 {
  color: #7D5A50
}
h3{
  color: #B4846C
}

/*********************** CLASS SELECTORS ***********************/
.Education:hover {
   background-color: pink;
   width: 7%
}

.Experience:hover {
   background-color: pink;
   width: 11.5%
}
